LogicAppWorkflows/Generic_POCActions.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition": {
        "actions": {
          "Close_the_service_Reqeust": {
            "inputs": {
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommonServiceCode')}",
                "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                "status": "CLOSED"
              },
              "uri": "@{parameters('CommonServiceDomain')}/api/ChangeStatusForSelectedServiceRequest"
            },
            "runAfter": {
              "Communication_For_Closed": [
                "SUCCEEDED"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Communication_Config_For_Approve": {
            "inputs": {
              "body": "@triggerBody()?['CommunicationRequest']",
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommunicationConfigCode')}",
                "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                "status": "CLosed"
              },
              "uri": "@{parameters('CommunicationConfigDomain')}/api/GenerateTemplate"
            },
            "runAfter": {
              "Life_Asia_API_Update_Contact_Type": [
                "SUCCEEDED"
              ]
            },
            "type": "Http"
          },
          "Communication_For_Closed": {
            "inputs": {
              "body": "@outputs('Communication_Config_For_Approve').body",
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommunicationServiceCode')}"
              },
              "uri": "@{parameters('CommunicationServiceDomain')}/api/CommunicationService"
            },
            "runAfter": {
              "Communication_Config_For_Approve": [
                "SUCCEEDED"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Life_Asia_API_Update_Contact_Type": {
            "inputs": {
              "method": "POST",
              "queries": {
                "code": "@{parameters('LifeAsiaAPICode')}",
                "reqtype": "@{triggerBody()?['RequestType']}",
                "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
              },
              "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          }
        },
        "else": {
          "actions": {
            "Communication_Config_For_Reject": {
              "inputs": {
                "body": "@triggerBody()?['CommunicationRequest']",
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommunicationConfigCode')}",
                  "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                  "status": "reject"
                },
                "uri": "@{parameters('CommunicationConfigDomain')}/api/GenerateTemplate"
              },
              "type": "Http"
            },
            "Communication_For_Rejected": {
              "inputs": {
                "body": "@outputs('Communication_Config_For_Reject').body",
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommunicationServiceCode')}"
                },
                "uri": "@{parameters('CommunicationServiceDomain')}/api/CommunicationService"
              },
              "runAfter": {
                "Communication_Config_For_Reject": [
                  "SUCCEEDED"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "Http"
            },
            "Reject_the_service_Reqeust": {
              "inputs": {
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommonServiceCode')}",
                  "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                  "status": "REJECTED"
                },
                "uri": "@{parameters('CommonServiceDomain')}/api/ChangeStatusForSelectedServiceRequest"
              },
              "runAfter": {
                "Communication_For_Rejected": [
                  "SUCCEEDED"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "Http"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@toUpper(triggerBody()?['POSActions']?['Status'])",
                "APPROVED"
              ]
            }
          ]
        },
        "runAfter": {},
        "type": "If"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "POS_Action_is_Triggered": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "CommunicationRequest": {
                "type": "string"
              },
              "POSActions": {
                "properties": {
                  "Comments": {
                    "type": "string"
                  },
                  "RequirementComments": {},
                  "RequirementList": {
                    "type": "string"
                  },
                  "SrvReqRefNo": {
                    "type": "string"
                  },
                  "Status": {
                    "type": "string"
                  },
                  "TransactionPayload": {},
                  "TransectionId": {
                    "type": "integer"
                  }
                },
                "type": "object"
              },
              "RequestType": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}