LogicAppWorkflows/Generic_SerReq_Query.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Close_the_service_Reqeust_copy": {
        "inputs": {
          "method": "POST",
          "queries": {
            "code": "@{parameters('CommonServiceCode')}",
            "srid": "@{triggerBody()?['srvReqRefNo']}",
            "status": "CLOSED"
          },
          "uri": "@{parameters('CommonServiceDomain')}/api/ChangeStatusForSelectedServiceRequest"
        },
        "runAfter": {
          "For_each_for_Each_Surrender_File_Type": [
            "SUCCEEDED"
          ]
        },
        "type": "Http"
      },
      "Filter_all_File_Types": {
        "inputs": {
          "from": "@triggerBody()?['serviceRequestTransectionData']",
          "where": "@contains(item()?['TagName'],'Template')"
        },
        "runAfter": {
          "Trigger_Life_Asia_API": [
            "SUCCEEDED"
          ]
        },
        "type": "Query"
      },
      "For_each_for_Each_Surrender_File_Type": {
        "actions": {
          "Communication": {
            "inputs": {
              "body": "@outputs('Communication_Config').body",
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommunicationServiceCode')}"
              },
              "uri": "@{parameters('CommunicationServiceDomain')}/api/CommunicationService"
            },
            "runAfter": {
              "Communication_Config": [
                "SUCCEEDED"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Communication_Config": {
            "inputs": {
              "body": "@triggerBody()?['communicationPayload']",
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommunicationConfigCode')}",
                "srid": "@{triggerBody()?['srvReqRefNo']}",
                "status": "@{item().TagValue}"
              },
              "uri": "@{parameters('CommunicationConfigDomain')}/api/GenerateTemplate"
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          }
        },
        "foreach": "@body('Filter_all_File_Types')",
        "runAfter": {
          "Filter_all_File_Types": [
            "SUCCEEDED"
          ]
        },
        "type": "foreach"
      },
      "Trigger_Life_Asia_API": {
        "inputs": {
          "method": "POST",
          "queries": {
            "code": "@{parameters('LifeAsiaAPICode')}",
            "reqtype": "@{triggerBody()?['callType']}_@{triggerBody()?['subType']}_Fetch",
            "srid": "@{triggerBody()?['srvReqRefNo']}"
          },
          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
        },
        "runAfter": {},
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_a_Generic_Query_HTTP_request_is_received": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "assignedToRole": {},
              "assignedToUser": {},
              "branchRef": {
                "type": "integer"
              },
              "callType": {
                "type": "integer"
              },
              "category": {
                "type": "integer"
              },
              "communicationPayload": {
                "type": "string"
              },
              "createdByRef": {
                "type": "string"
              },
              "createdOn": {
                "type": "string"
              },
              "currentStatus": {
                "type": "string"
              },
              "custRole": {
                "type": "integer"
              },
              "custSignDateTime": {
                "type": "string"
              },
              "customerRef": {
                "type": "integer"
              },
              "deDupPayload": {},
              "dob": {
                "type": "string"
              },
              "modifiedByRef": {
                "type": "string"
              },
              "modifiedOn": {
                "type": "string"
              },
              "planName": {
                "type": "string"
              },
              "policyRef": {
                "type": "integer"
              },
              "policyStatus": {
                "type": "string"
              },
              "proposerName": {
                "type": "string"
              },
              "prtSerReqID": {},
              "reasonDelayed": {},
              "reasonForChange": {
                "type": "string"
              },
              "reqMode": {
                "type": "integer"
              },
              "reqSource": {
                "type": "integer"
              },
              "requestDateTime": {
                "type": "string"
              },
              "serviceRequestTransectionData": {
                "items": {
                  "properties": {
                    "servRequestDtlId": {
                      "type": "integer"
                    },
                    "srvReqID": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tagName": {
                      "type": "string"
                    },
                    "tagValue": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "servRequestDtlId",
                    "srvReqID",
                    "tagName",
                    "tagValue",
                    "status"
                  ],
                  "type": "object"
                },
                "type": "array"
              },
              "source": {},
              "srvReqID": {
                "type": "integer"
              },
              "srvReqRefNo": {
                "type": "string"
              },
              "subType": {
                "type": "integer"
              },
              "transactionPayload": {}
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}