LogicAppWorkflows/Surrender_POSLevelAssign.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_Approved_Or_Reject_Service_Request": {
        "actions": {
          "Assign_Service_Request_To_Seniors_For_Approve": {
            "inputs": {
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommonServiceCode')}",
                "reqtype": "Assign_Role",
                "role": "@{body('Check_The_Role_of_Approved_User')}",
                "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
              },
              "uri": "@{parameters('CommonServiceDomain')}/api/AssignToSelectedUser"
            },
            "runAfter": {
              "Is_Assigning_To_Finance_Role": [
                "SUCCEEDED"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Check_Is_First_Approver_": {
            "actions": {
              "Bank_Details_Update": {
                "inputs": {
                  "method": "POST",
                  "queries": {
                    "code": "@{parameters('LifeAsiaAPICode')}",
                    "reqtype": "3_1_Update",
                    "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                  },
                  "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@body('Check_The_Role_of_Approved_User')",
                    10
                  ]
                }
              ]
            },
            "runAfter": {
              "Check_The_Role_of_Approved_User": [
                "SUCCEEDED"
              ]
            },
            "type": "If"
          },
          "Check_The_Role_of_Approved_User": {
            "inputs": {
              "method": "POST",
              "queries": {
                "code": "@{parameters('CommonServiceCode')}",
                "reqtype": "Check_Role",
                "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
              },
              "uri": "@{parameters('CommonServiceDomain')}/api/AssignToSelectedUser"
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Is_Assigning_To_Finance_Role": {
            "actions": {
              "Check_Category": {
                "cases": {
                  "Free_Look": {
                    "actions": {
                      "FreeLook_Registration": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "FreeLookRegistration",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Free_Look_Approval": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "FreeLookApproval",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runAfter": {
                          "FreeLook_Registration": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      }
                    },
                    "case": 12
                  },
                  "Loan": {
                    "actions": {
                      "Loan_Approval": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "LoanApproval",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runAfter": {
                          "Loan_Registration": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Loan_Registration": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "LoanRegistration",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      }
                    },
                    "case": 11
                  },
                  "Partial_Withdrawal": {
                    "actions": {
                      "Partial_Withdrawal_Creation": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "PartialWithDrawalCreation",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runAfter": {
                          "Partial_Withdrawal_Enquiry": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Partial_Withdrawal_Enquiry": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "PartialWithDrawalEnquiry",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      }
                    },
                    "case": 8
                  },
                  "Surrender": {
                    "actions": {
                      "Surrender_Approval": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "SurrenderApproval",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runAfter": {
                          "Surrender_Registration": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Surrender_Registration": {
                        "inputs": {
                          "method": "POST",
                          "queries": {
                            "code": "@{parameters('LifeAsiaAPICode')}",
                            "reqtype": "SurrenderRegistration",
                            "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                          },
                          "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      }
                    },
                    "case": 9
                  }
                },
                "default": {
                  "actions": {}
                },
                "expression": "@int(triggerBody()?['RequestType'])",
                "type": "Switch"
              },
              "Condition": {
                "actions": {
                  "JV_Code_Approval_for_Fund_Transfer": {
                    "inputs": {
                      "method": "POST",
                      "queries": {
                        "code": "@{parameters('LifeAsiaAPICode')}",
                        "reqtype": "JVApproval",
                        "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                      },
                      "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                    },
                    "runAfter": {
                      "JV_Code_Creation_For_Fund_Transfer": [
                        "SUCCEEDED"
                      ]
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "type": "Http"
                  },
                  "JV_Code_Creation_For_Fund_Transfer": {
                    "inputs": {
                      "method": "POST",
                      "queries": {
                        "code": "@{parameters('LifeAsiaAPICode')}",
                        "reqtype": "JVCreation",
                        "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                      },
                      "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "type": "Http"
                  }
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "",
                        ""
                      ]
                    }
                  ]
                },
                "runAfter": {
                  "Is_Fund_Transfer_Actions": [
                    "SUCCEEDED"
                  ]
                },
                "type": "If"
              },
              "Is_Fund_Transfer_Actions": {
                "inputs": {
                  "method": "POST",
                  "queries": {
                    "code": "@{parameters('LifeAsiaAPICode')}",
                    "reqtype": "JVCheck",
                    "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                  },
                  "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                },
                "runAfter": {
                  "Check_Category": [
                    "SUCCEEDED"
                  ]
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              },
              "Payee_Code_Approval": {
                "inputs": {
                  "method": "POST",
                  "queries": {
                    "code": "@{parameters('LifeAsiaAPICode')}",
                    "reqtype": "PayeeCodeApproval",
                    "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                  },
                  "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                },
                "runAfter": {
                  "Payee_Code_Creation": [
                    "SUCCEEDED"
                  ]
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              },
              "Payee_Code_Creation": {
                "inputs": {
                  "method": "POST",
                  "queries": {
                    "code": "@{parameters('LifeAsiaAPICode')}",
                    "reqtype": "PayeeCodeCreation",
                    "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}"
                  },
                  "uri": "@{parameters('LifeAsiaDomain')}/api/CallLifeAsia"
                },
                "runAfter": {
                  "Condition": [
                    "SUCCEEDED"
                  ]
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@body('Check_The_Role_of_Approved_User')",
                    10
                  ]
                }
              ]
            },
            "runAfter": {
              "Check_Is_First_Approver_": [
                "SUCCEEDED"
              ]
            },
            "type": "If"
          }
        },
        "else": {
          "actions": {
            "Closed_SR": {
              "inputs": {
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommonServiceCode')}",
                  "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                  "status": "CLOSED"
                },
                "uri": "@{parameters('CommonServiceDomain')}/api/ChangeStatusForSelectedServiceRequest"
              },
              "runAfter": {
                "Communication_For_Rejected": [
                  "SUCCEEDED"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "Http"
            },
            "Communication_Config_For_Reject": {
              "inputs": {
                "body": "@triggerBody()?['CommunicationRequest']",
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommunicationServiceCode')}",
                  "srid": "@{triggerBody()?['POSActions']?['SrvReqRefNo']}",
                  "status": "reject"
                },
                "uri": "@{parameters('CommunicationConfigDomain')}/api/GenerateTemplate"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "Http"
            },
            "Communication_For_Rejected": {
              "inputs": {
                "body": "@outputs('Communication_Config_For_Reject').body",
                "method": "POST",
                "queries": {
                  "code": "@{parameters('CommunicationServiceCode')}"
                },
                "uri": "@{parameters('CommunicationServiceDomain')}/api/CommunicationService"
              },
              "runAfter": {
                "Communication_Config_For_Reject": [
                  "SUCCEEDED"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "Http"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@toUpper(triggerBody()?['POSActions']?['Status'])",
                "APPROVED"
              ]
            }
          ]
        },
        "runAfter": {},
        "type": "If"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "CommunicationRequest": {
                "type": "string"
              },
              "POSActions": {
                "properties": {
                  "Comments": {
                    "type": "string"
                  },
                  "RequirementComments": {},
                  "RequirementList": {
                    "type": "string"
                  },
                  "SrvReqRefNo": {
                    "type": "string"
                  },
                  "Status": {
                    "type": "string"
                  },
                  "TransactionPayload": {},
                  "TransectionId": {
                    "type": "integer"
                  }
                },
                "type": "object"
              },
              "RequestType": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}